.project__lightbox {
  background: black;
}

.project__carousel {
  aspect-ratio: 2 / 1;
}

.project__photo {
  aspect-ratio: 2 / 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
